<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Allocation-API</title>
</head>

<style>
    #linha-horizontal {
        width: 300px;
        border: 1px solid rgb(30, 98, 254);
    }
</style>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" valign="top" bgcolor="#838383"
            style="background: rgb(121,9,75); background: linear-gradient(32deg, rgb(30, 98, 254) 61%, rgb(30, 98, 254) 61%);">
            <br> <br>
            <table width="600" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" valign="op" bgcolor="#385385"
                        style="border: 0px solid transparent;
border-radius: 38px;
background: linear-gradient(58deg, rgb(242, 242, 242) 61%, rgb(242, 242, 242) 100%);
backgrily: Arial, Helvetica, sans-serif; font-size: 13px; color: #000000; padding: 0px 15px 10px 15px;">

                        <div style="font-size: 48px; color:rgb(0, 0, 0);">
                            <br>
                            <img src="https://images-ext-1.discordapp.net/external/E6PSD54V5OvAY41hQoWlv9ZkqTDkTwGIgh_9ZkLwq5A/%3Fq%3Dtbn%3AANd9GcTqmzwi9OQ-ErkgfBdjjHGS1k1V-8AVKtA0vBaIEmEIfGJr2iLi9W4QYHB2B-bJWioZdyM%26usqp%3DCAU/https/encrypted-tbn0.gstatic.com/images"
                                 width="50px">
                            <b>Relatório Semanal de Vagas e Alunos em Aberto</b>
                        </div>

                        <div style="font-size: 24px; color: rgb(0, 0, 0);">
                            <br>
                            <p>Vagas: </p>
                            <b>${vaga}</b>
                        </div>
                        <div style="font-size: 24px; color:rgb(255, 255, 255);">

                            <br>
                            <br>
                            <p style="font-size:24px; color: rgb(0, 0, 0);">Alunos:</p>
                            <p style="font-size:24px; color: rgb(0, 0, 0);">${aluno}</p>

                            <br>
                            <br>
                            <p style="font-size:18px;border: 5px solid transparent;
                                border-radius: 38px;background: rgb(30, 98, 254) 61%;
                                background: rgb(30, 98, 254) 61%;
                                background: linear-gradient(58deg, rgb(30, 98, 254) 61%,
                                rgb(30, 98, 254) 61%);">
                                Qualquer dúvida é só contatar o suporte pelo email
                                <br>
                                <b>${email}</b>
                            </p>

                            <div id="linha-horizontal"></div>
                            <p style="font-size: 12px; color: rgb(0, 0, 0);">Let's Tech Up Together!</p>
                        </div>
                    </td>
                </tr>
            </table>
            <br> <br></td>
    </tr>
</table>
</body>
</html>